*.swp
*.swo
*.pyc

src/pg-extension/bundle/bundle--*.*.*.sql
src/pg-extension/email/email--*.*.*.sql
src/pg-extension/endpoint/endpoint--*.*.*.sql
src/pg-extension/event/event--*.*.*.sql
src/pg-extension/filesystem/filesystem--*.*.*.sql
src/pg-extension/meta/meta--*.*.*.sql
src/pg-extension/widget/widget--*.*.*.sql

