[submodule "meta"]
	path = extensions/meta
	url = https://github.com/aquameta/meta.git
    branch = master
[submodule "meta_triggers"]
	path = extensions/meta_triggers
	url = https://github.com/aquameta/meta_triggers.git
    branch = master
[submodule "pg_catalog_get_defs"]
	path = extensions/pg_catalog_get_defs
	url = https://github.com/aquameta/pg_catalog_get_defs.git
    branch = master
