*.swp
*.swo
*.pyc

src/bundle/bundle--*.*.*.sql
src/email/email--*.*.*.sql
src/endpoint/endpoint--*.*.*.sql
src/event/event--*.*.*.sql
src/filesystem/filesystem--*.*.*.sql
src/meta/meta--*.*.*.sql
src/widget/widget--*.*.*.sql

