# Standalone Boot Configuration
#
# A example configuration for booting to a non-managed, standalone database running on localhost

[Database]
    Mode = "standalone" # { embedded | standalone }

			# If "standalone", Aquameta will attempt to connect to
			# an existing PostgreSQL database managed by the user.
			# Modify the settings below to match your database's
			# configuration.
			#
			# If "embedded", Aquameta will create and manage an
			# embedded PostgreSQL server instance (experimental).

    # the path where the embedded postgresql instance will be installed (embedded only)
    # EmbeddedPostgresRuntimePath = "./postgres"

    # connection settings
    Host = "localhost"              # Host where the database is running (usually localhost)
    Port = 5432                     # Database port (usually 5432)
    DatabaseName = "aquameta"       # Name of the database to be created where Aquameta will be installed.
    Role = "youruser"               # PostgreSQL role name (usually your unix username)
    Password = "whatevz"            # FIXME - we probably want to use local trust auth instead


[AquametaUser]                      # Record to create in `endpoint.user` table
    Name = "Your Name"
    Email = "your.email@example.com"


[HTTPServer]
    Protocol = "http"               # { http | https }

				    # https (encrypted) is supported, but you
				    # have to generate certificates.  See the
				    # [certificates/](../certificates/README.md)
				    # directory.

    IP = "127.0.0.1"                # IP to bind to, change this to 0.0.0.0 to allow remote traffic (which is not recommended)

    Port = "4444"                   # Port to open

    # only used w/ https
    # SSLCertificateFile = "certificates/server.crt"
    # SSLKeyFile = "certificates/server.key"

    StartupURL = "/"                # URL to open at startup


[PGFS]
    MountDirectory = "pgfs/"
